
body {
    font-family: 'Didact Gothic', sans-serif;
    color: black;
}

.textBox {
    padding: 15px;
    background-color: rgb(212, 137, 23);
    color: white;
}



#title {
    padding-top: 30px;
    color: white;
}

#timeRemaining{
    font-size: 30px;
    text-align: center;
  }

.cheese-image {
    width: 300px;
}