
body {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    background-color: rgb(52,58,64);
}

.textBox {
    padding: 15px;
    background-color: rgb(212, 137, 23);
    color: white;
}



#title {
    padding-top: 30px;
    color: white;
}

#timeRemaining{
    font-size: 30px;
    text-align: center;
  }

.cheese-image {
    width: 50%;
    padding: 15px;
}

.header {
    padding: 10px 16px;
    background: rgb(80, 78, 78, .2);
    color: #f1f1f1;
  }
  
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 30px;
  }